@import "helper/variable";
@import "helper/mixin";
@import "helper/font";
@import "helper/optimize";
@import "helper/element";


body{
  font-family: @font-main;
  background-color: @main-color;
  background-image: url(../img/bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 2000px;
}


@import "header";
//@import "index";

//@import "footer";
