@import "helper/variable";
@import "helper/mixin";
@import "helper/font";
@import "helper/optimize";
@import "helper/element";
@import "header";

body {
  font-family: @font-main;
  background-color: @main-color;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

@import "index";
@import "rules";
@import "faq";

@import "footer";
