.site-header {
  .container();
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header-nav {
  max-width: 640px;
  flex: 1;
  ul {
    display: flex;
    justify-content: space-between;
  }

  &.authenticated {
    li:last-of-type {
      .header-nav__item {
        display: none;
      }
      .user-icon {
        display: block;
      }
    }
  }
}

.header-nav__item {
  padding: 0;

  color: @active-color;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  background: none;
  &.current {
    border-bottom: 3px solid;
  }
}

.user-icon {
  display: none;
  width: 26px;
  height: 20px;
  padding-bottom: 23px;

  border-bottom: 3px solid @active-color;
  background-image: url(../img/user-icon.svg);
  background-position: top center;
  background-repeat: no-repeat;
}
