.wrap {
  .container();
}

/*
 * buttons
 */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 43px;

  color: #fff;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  background-color: @active-color;
  box-shadow: 0 2px 0 rgba(102, 4, 1, .75);
}

.btn--s {
  width: 250px;
}

.btn--xs {
  width: 170px;
}

/*
 * headings
 */

.h1 {
  margin-bottom: 35px;

  color: @active-color;
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}

.h2 {
  margin-bottom: 30px;

  color: @active-color;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

/*
 * form
 */

.input,
textarea {
  font-size: 20px;
}

.input {
  width: 360px;
  height: 47px;
  margin-bottom: 30px;
  padding-left: 20px;

  border: 2px solid @active-color;
  border-radius: 50px;
}

.input--l {
  width: 400px;
}

textarea {
  width: 540px;
  height: 260px;
  padding: 20px 30px;

  border: 2px solid @active-color;
  border-radius: 20px;
  resize: vertical;
}

.jq-radio {
  position: relative;
  width: 22px;
  height: 22px;
  margin-bottom: 10px;

  border: 1px solid @active-color;
  border-radius: 50%;
  cursor: pointer;
}

.jq-radio.checked .jq-radio__div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  margin: auto;

  border-radius: 50%;
  background-color: @active-color;
}
