.btn {
  display: block;
  width: 400px;
  height: 43px;

  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  background-color: @active-color;
  box-shadow: 0 2px 0 rgba(102, 4, 1, .75);
}
