<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <link href="static/css/app.css" rel="stylesheet"/>
</head>
<body>

<div class="site">

  <div class="wrap parallax" data-js-parallax>
    <div class="parallax_1">
      <img src="static/img/leaves/leaf1.png">
    </div>
    <div class="parallax_2">
      <img src="static/img/leaves/leaf2.png">
    </div>
    <div class="parallax_3">
      <img src="static/img/leaves/leaf3.png">
    </div>
    <div class="parallax_4">
      <img src="static/img/leaves/leaf4.png">
    </div>
    <div class="parallax_5">
      <img src="static/img/leaves/leaf5.png">
    </div>
    <div class="parallax_6">
      <img src="static/img/leaves/leaf6.png">
    </div>
  </div>

  <header class="site-header">
    <a href="index.html" class="logo">
      <img src="static/img/logo.png" alt="lipton kidzania logo">
    </a>

    <nav class="header-nav {% block authenticated %}{% endblock %}">
      <ul>
        <li>
          <button class="header-nav__item" data-js-popup-link="cheque-reg">Регистрация чека</button>
        </li>
        <li><a class="header-nav__item current" href="rules.html">Правила и призы</a></li>
        <li><a class="header-nav__item" href="faq.html">FAQ</a></li>
        <li><a class="header-nav__item" href="winners.html">Победители</a></li>
        <li>
          <button class="header-nav__item" data-js-popup-link="auth-form">Вход</button>
          <span class="user-icon"></span>
        </li>
      </ul>
    </nav>
  </header>

  {% block content %}{% endblock %}

  <footer class="site-footer">
    <div class="site-footer__content">
      <p>*Организатор Акции: ООО «Темма», 109004, г. Москва, ул. Александра Солженицына, 23А строение 1.</p>
      <p>Общий срок Акции: с 05.09.2016 года по 02.10.2016 года.</p>
      <p>С 05.09.2016 года по 02.10.2016 года (срок подачи заявок) совершите покупку в магазинах Торговой сети «Перекресток» или «Карусель», участвующих в Акции, и зарегистрируйте номер чека на сайте www.liptonkidz.ru. При покупке не менее 2 пачек чая Lipton, участвующих в Акции, Участник принимает участие в розыгрыше приза «Билет в Кидзанию».</p>
      <p>Количество подарков и призов ограничено. Организатор оставляет за собой право на замену подарков и призов. Внешний вид подарков и призов может отличаться от изображений в рекламных материалах. Подробную информацию об организаторе Акции, правилах их проведения, количестве подарков и призов, сроках, месте и порядке их получения — на сайте
        <a href="//liptonkidz.ru">liptonkidz.ru</a>.</p>
      <p>В каждом чеке должно присутствовать не менее 2 пачек чая Lipton, участвующих в Акции.</p>
    </div>
  </footer>

  {% include 'pop-up/cheque-reg.html' %}
  {% include 'pop-up/auth.html' %}
  {% include 'pop-up/reg-complete.html' %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/lib/jquery.min.js"><\/script>')</script>
<script src="static/lib/jquery.maskedinput.min.js"></script>
<script src="static/lib/jquery.formstyler.min.js"></script>
<script src="static/js/app.js"></script>

</body>
</html>
