{% extends 'base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}

  <div class="faq-wrap">

    <div class="wrap">
      <h1 class="h1">Вопросы и ответы</h1>

      <button class="btn btn--s" data-js-faq-ask-add-btn>Задать вопрос</button>
    </div>

    <div class="faq__ask-wrap" data-js-faq-ask-add-form>
      <p>Задать вопрос</p>

      <form class="faq__ask-form">
        <textarea placeholder="Ваше сообщение" required></textarea>

        <fieldset>
          <input class="input" placeholder="Ваше имя" type="text">
          <input class="input" type="email" placeholder="Адрес электронной почты" required>

          <input class="btn btn--s" type="submit" value="Отправить">
        </fieldset>
      </form>

    </div>

    <ol class="faq__content">
      <li class="faq__item">
        <span class="faq__question">Могу ли я стать участником акции?</span>
        <p class="faq__answer">Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками.</p>
      </li>
      <li class="faq__item">
        <span class="faq__question">Что мне нужно сделать для участия в акции?</span>
        <p class="faq__answer">Совершить покупку в любом из магазинов торговой сети "Пятёрочка" на территории РФ по одному из вариантов:
          1) На сумму свыше 500 рублей включительно до 699, 99 рублей
          2) На сумму от 700 рублей включительно и выше. В данной покупке должна присутствовать хотя бы одна упаковка чая Липтон.

          Далее необходимо зарегистрировать чек с помощью смс или сайта:  отправить на короткий номер 2420 смс-сообщение со следующей информацией в указанном порядке: слово ЛИПТОН один номер чека сумма покупки. Все составляющие вводятся через пробел, без запятых между словами.
          Например: ЛИПТОН 12345 600, где ЛИПТОН - слово в начале сообщения, 12345 – номер чека, 600 – сумма покупки.

          На сайте: Вам необходимо заполнить регистрационную форму на сайте, указав в ней свои персональные данные, все поля обязательны для заполнения: номер мобильного телефона с кодом оператора, номер чека, сумма чека.
        </p>
      </li>
      <li class="faq__item">
        <span class="faq__question">Как я могу получить призы?</span>
        <p class="faq__answer">Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками. Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками. Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками.</p>
      </li>
      <li class="faq__item">
        <span class="faq__question">Как долго длится конкурс?</span>
        <p class="faq__answer">Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками. Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками. Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками.</p>
      </li>
      <li class="faq__item">
        <span class="faq__question">Как будут выбраны победители?</span>
        <p class="faq__answer">Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками. Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками.</p>
      </li>
      <li class="faq__item">
        <span class="faq__question">Какие призы можно выиграть?</span>
        <p class="faq__answer">Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками.</p>
      </li>
    </ol>

  </div>

{% endblock %}
