{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="index-hero-wrap">

  <div class="index-hero">

    <div class="index-hero__text">
      <p>Выиграй  билет</p>
      <p>в кидзанию</p>
      <p>на фабрику чая Lipton</p>
    </div>

    <button class="btn index-hero__btn" data-js-popup-link="cheque-reg">Зарегистрировать чек</button>

    <ul class="index-hero__list">
      <li>
        <strong>Купи</strong>
        <span>с 05.09.16 по 02.10.16</span> не менее 2 пачек чая Lipton Discovery Collection в магазинах «Перекресток» или «Карусель»*
      </li>
      <li>
        <strong>Зарегистрируй</strong>
        чек на сайте <a href="//liptonkidz.ru">liptonkidz.ru</a>
      </li>
      <li>
        <strong>Получи</strong>
        возможность выиграть билет в Кидзанию
      </li>
    </ul>

  </div>

</div>
{% endblock %}
