{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block authenticated %}authenticated{% endblock %}

{% block content %}

  <div class="profile-wrap">

    <div class="wrap">
      <h1 class="h1">Личный кабинет</h1>
    </div>

    <div class="profile-top-wrap">
      <div class="profile-top">

        <p class="profile__name">Иванов Петр Сидорович</p>
        <p class="profile__email">Ezhevica@gmail.com</p>
        <a class="btn btn--xs" href="">Выйти</a>

      </div>
    </div>

    <div class="profile-content">

      <div class="profile-certificate">

        <h2 class="h2">Ваш сертификат</h2>
        <img src="static/img/del/ticket.jpg">

        <ul class="profile-certificate__steps">

          <li>
            <a href="">Скачайте</a> <br> или <a href="">распечатайте</a> <br> Ваш сертификат
          </li>
          <li>
            Забронируйте посещение фабрики чая Lipton по почте: <a href="mailto:customer@kidzania.ru">customer@kidzania.ru</a> за 3 дня до планируемой даты посещения
          </li>
          <li>
            Предъявите <br> сертификат <br> в Кидзании
          </li>

        </ul>

      </div>

      <div class="profile-cheques">
        <h2 class="h2">Ваши чеки, участвующие в розыгрыше:</h2>

        <div class="profile-cheque">
          <img src="static/img/del/cheque1.jpg">

          <div class="profile-cheque__numbers">
            <span>112323657</span>
            <span>56456665</span>
            <span>56565656</span>
            <span>112323657</span>
          </div>

        </div>

        <div class="profile-cheque">
          <img src="static/img/del/cheque2.jpg">

          <div class="profile-cheque__numbers">
            <span>112323657</span>
            <span>56456665</span>
            <span>56565656</span>
            <span>112323657</span>
          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}
