{% extends 'base.html' %}

{% block title %}Правила и призы{% endblock %}

{% block content %}
  <div class="rules-wrap">

    <div class="wrap">
      <h1 class="h1">Правила и призы</h1>
    </div>

    <div class="rules-steps-wrap">
      <ul class="rules-steps">
        <li>
          <strong>Купи</strong>
          <span>с 05.09.16 по 02.10.16</span> не менее 2 пачек чая Lipton Discovery Collection в магазинах «Перекресток» или «Карусель»*
        </li>
        <li>
          <strong>Зарегистрируй</strong>
          чек на сайте <a href="//liptonkidz.ru">liptonkidz.ru</a>
        </li>
        <li>
          <strong>Получи</strong>
          возможность выиграть билет в Кидзанию
        </li>
      </ul>
    </div>

    <div class="rules-bottom__links">
      <a class="btn btn--s" href="winners.html">Победители</a>
      <a class="btn rules-btn" href="">Прочитать полные правила</a>
    </div>

  </div>
{% endblock %}
