{% extends 'base.html' %}

{% block title %}Победители{% endblock %}

{% block content %}
  <div class="winners-wrap">

    <div class="wrap">
      <h1 class="h1">Победители</h1>
      <p class="winners__h-sub">Свой сертификат Вы можете получить в личном кабинете или по адресу электронной почты, который Вы указали при регистрации.</p>
    </div>

    <div class="winners-content">

      <div class="winners__item">

        <div class="winners__date">5 сентября &ndash; 11 сентября</div>

        <ul class="winners__winners">

          <li>
            <img src="static/img/del/winners.jpg">
            <span>E...vica@gmail.com</span>
          </li>

          <li>
            <img src="static/img/del/winners.jpg">
            <span>I..._petro@gmail.com</span>
          </li>

          <li>
            <img src="static/img/del/winners.jpg">
            <span>a...dd@gmail.com</span>
          </li>

        </ul>

      </div>

      <div class="winners__item">

        <div class="winners__date">12 сентября &ndash; 18 сентября</div>

        <ul class="winners__winners">
          <li>
            <img src="static/img/del/winners.jpg">
            <span>E...vica@gmail.com</span>
          </li>
          <li>
            <img src="static/img/del/winners.jpg">
            <span>I..._petro@gmail.com</span>
          </li>
          <li>
            <img src="static/img/del/winners.jpg">
            <span>a...dd@gmail.com</span>
          </li>
        </ul>

      </div>

      <div class="winners__item">

        <div class="winners__date">12 сентября &ndash; 18 сентября</div>

        <ul class="winners__winners">
          <li>
            <img src="static/img/del/winners.jpg">
            <span>E...vica@gmail.com</span>
          </li>
          <li>
            <img src="static/img/del/winners.jpg">
            <span>I..._petro@gmail.com</span>
          </li>
          <li>
            <img src="static/img/del/winners.jpg">
            <span>a...dd@gmail.com</span>
          </li>
        </ul>

      </div>

      <div class="winners__item">

        <div class="winners__date">12 сентября &ndash; 18 сентября</div>

        <ul class="winners__winners">
          <li>
            <img src="static/img/del/winners.jpg">
            <span>E...vica@gmail.com</span>
          </li>
          <li>
            <img src="static/img/del/winners.jpg">
            <span>I..._petro@gmail.com</span>
          </li>
          <li>
            <img src="static/img/del/winners.jpg">
            <span>a...dd@gmail.com</span>
          </li>
        </ul>

      </div>



    </div>

  </div>
{% endblock %}
